@import url('https://fonts.cdnfonts.com/css/valorant');

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  font-family: 'VALORANT', sans-serif;
}
.title {
  margin-bottom: 30px;
  margin-left: -8vw;
}
.image {
  object-fit: cover;
  width: auto;
  height: auto;
  max-height: 95vh;
  max-width: 50vw;
}
.containerHome {
  font-family: 'VALORANT', sans-serif;
  max-height: 60vh;
  color: #fd4556;
  font-size: 28px;
  padding: 8vw 0 8vw 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images.jpg);
  background-size: cover;
}

button {
  width: 20vh;
  height: 15vh;
  margin: 8px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.4;
  font-family: 'VALORANT', sans-serif;
  transition: opacity 0.6s ease;
}
button:hover {
  opacity: 0.6;
}
.btnAgents:hover {
  opacity: 1;
}
button.clicked {
  opacity: 1;
}
.abilities {
  margin-left: -30px;
}
.abilitiesTitle {
  margin: 50px 0 6px;
  font-family: 'VALORANT', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}
.abilitiesBtn {
  color: #fff;
  background-color: black;
  width: 5rem;
  height: 5rem;
  vertical-align: top;
}
.containerInfo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 200;
  font-family: sans-serif;
}
.agentName {
  margin: 30px 0 10px 0;
  font-family: 'VALORANT', sans-serif;
}
p {
  padding: 0 10px;
  font-size: 20px;
}
.abilitiesName {
  font-size: 1.5rem;
  margin: 40px;
}
